# Local dev credentials — replace before production.

PORT=4000
WEB_ORIGIN=http://localhost:3000

AUTH_EXCHANGE_SECRET=wUgpkZA2ABArdrjenvRnKXuTsFTaWDt9xaPacQDT0Hc=
JWT_SECRET=ck/Ro+bJc1FTpHnIh4K+4Oa07w8D0c4BPURxxZzP7pM=
JWT_EXPIRES_IN=7d

DATABASE_URL=postgresql://sdm:sdm@localhost:5432/sdm?schema=public
REDIS_URL=redis://localhost:6379

PDNS_API_URL=http://localhost:8081
PDNS_API_KEY=2e921c9df03b4239af3da3fdfbcaae81cd8c8dbd06dcc370
PDNS_SERVER_ID=localhost

# --- AWS SES (transactional email sending) ---
SES_SMTP_HOST=email-smtp.eu-north-1.amazonaws.com   
SES_SMTP_PORT=587                                    
SES_SMTP_USERNAME=AKIAQFNXEZ7YXVHUCAMH
SES_SMTP_PASSWORD=BJOtLcLdXqgTZ+jL7tnRp0jecENe7Gs5TBh4b2tL4h8K
